h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px whitesmoke;
}
p, li {
    font-size: 16px;
    line-height: 1.2;
    /*letter-spacing: 0.5px;*/
}

.move {
    color: red;
}

img {
    display: block;
    margin: 0 auto;
}

img[src] {
    width: 200px;
    height: 200px;
}

/*img[src]:hover {
    width: 500px;
    height: 500px;
}*/

html {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}