# IntelliJ
.idea
*.iml
.DS_Store
target

# Log
log.txt

# Temporäre IntelliJ-Dateien
**/out/
**/report/
*.iws

# Temporäre TeX-Dateien
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc

# Versteckte Dateien (aber .gitignore behalten)
.*
!.gitignore